* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  /* font-family: sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 118rem;
  margin: auto;
}

.green {
  color: green;
}

.brown {
  color: brown;
}

.orange {
  color: orange;
}
