/* HEADER */
.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.4rem; */
  padding: 1rem 0;
  /* background-color: red; */
}

.nav-left {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  width: 25%;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

.nav-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #666;
}

.logo-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  height: 3.4rem;
  width: 3.8rem;
  margin-right: 0.5rem;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav-1 {
  gap: 2.8rem;
}

.nav-link {
  color: #666;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

.search-bar {
  width: 25rem;
  height: 3.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
}

.nav-right {
  height: 100%;
  /* border-left: 2px solid black; */
}
