/* HEADER */

header {
  width: 100vw;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 9;
  /* margin-bottom: 5rem; */
  background-color: #fff;
}

.navigation {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  background-color: #fff;
  /* font-size: 1.4rem; */
  /* padding: 0.8rem 0; */
  /* background-color: red; */
}

.nav-left {
  width: 80%;
  display: flex;
  padding: 0.8rem 3rem 0.8rem 0;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #77777729;
}

.nav-right {
  width: 20%;
  padding: 0.8rem 0;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

.nav-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #666;
}

.logo-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  height: 3.4rem;
  width: 3.8rem;
  margin-right: 0.5rem;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav-1,
.nav-2 {
  gap: 2.8rem;
}

.nav-link {
  color: #666;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

.search-bar {
  width: 25rem;
  height: 3.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
  background-color: #eef3f8;
}

.nav-dp {
  border-radius: 50%;
  background-color: red;
}

.nav-right {
  height: 100%;
  /* border-left: 2px solid black; */
}

.main-section {
  display: grid;
}

.main-section-box {
  /* margin-top: 5rem; */
  position: relative;
  /* margin-top: 12rem; */
  /* position: fixed;
  top: 0; */
  display: grid;
  grid-template-columns: 1.3fr 3fr 1.8fr;
}

.profile-display {
  height: 70vh;
  width: 100%;
  padding: 8rem 1rem 3rem;
  /* background-color: red; */
  position: sticky;
  top: 0;
}

.home-feed {
  height: 300vh;
  width: 100%;
  /* background-color: blue; */
  padding: 8rem 1rem 3rem;
}

.recommendations {
  position: sticky;
  top: 0;
  height: 30vh;
  width: 100%;
  padding: 8rem 1rem 3rem;
  /* background-color: yellow; */
}

.inner {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid #77777733;
  border-radius: 8px;

  overflow: hidden;
}

.post-inner {
  height: calc(300vh - 284vh);
  margin-bottom: 1rem;
}

.dp-box {
  height: 13%;
}

.cover-img-box {
  height: 100%;
  width: 100%;
  background-color: red;
  /* border-radius: 8px; */
}

.aside-dp,
.post-dp {
  display: inline-block;

  background-color: blue;
  border-radius: 50%;
  border: 2px solid #fff;
}

.aside-dp {
  transform: translate(30%, -50%);
  height: 7rem;
  width: 7rem;
}

.post-dp {
  height: 5.5rem;
  width: 5.5rem;
}

.aside-dp img,
.post-dp img,
.cover-img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aside-dp img,
.post-dp img {
  border-radius: 50%;
}

/* .title-details, */
.title-details div {
  display: grid;
  gap: 1.6rem;
  padding: 3rem 0 2rem 0;
  margin: 1.4rem;
  border-bottom: 1px solid #77777722;
  /* font-size: 1.8rem; */
}

.title-details-name {
  font-size: 2.2rem;
  letter-spacing: 0.6px;
}

.title-details-impressions {
  font-size: 1.4rem;
  color: #777;
  letter-spacing: 0.2px;
}

.title-details-impressions span {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.2px;
}

.post-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.post-input {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 85%;

  margin: auto;
  border-radius: 50px;
  border: 1px solid #999;
}

.post-input:hover {
  background-color: whitesmoke;
}

.post-input span {
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #777;
  word-spacing: 1px;
}

.post-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 4rem;
  width: 95%;
  margin: auto;
}

.post-icons-container div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  height: 100%;
  width: 25%;
  border-radius: 5px;
}

.post-icons-container div:hover {
  background-color: whitesmoke;
}

.post-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #0072b1;
}

.post-icon-text {
  white-space: nowrap;
}
